<input #host type="text" placeholder="Enter host">
<button (click)="search(host) ">Find host</button>

<div *ngIf="info">
  <p>Country: {{ info.countryCode}}</p>
  <p>Country name: {{ info.country }}</p>
  <p>Region: {{ info.region }}</p>
  <p>City: {{ info.city }}</p>
  <p>Lat: {{ info.lat }}</p>
  <p>Lon: {{ info.lon }}</p>
  <p>ORG: {{ info.org}} </p>

</div>